In [5]:
import pandas as pd

file_path = '2bac4strain.txt'
df = pd.read_csv(file_path, sep='\t', header=None, names=['ID', 'Kraken Info'])
df[['Prefix', 'TaxID', 'Reference']] = df['Kraken Info'].str.split('|', expand=True)
df.drop(columns=['Kraken Info', 'Prefix'], inplace=True)
print(df.head())

                                     ID    TaxID      Reference
0  863b9337-17cd-5586-2079-4ce3dfe7ad31  1671923  NZ_CP085939.1
1  cdab274b-d4c4-73a6-1282-5cffe9311fcb  1671923  NZ_CP085939.1
2  94395a2f-ee29-1589-2b32-c5e4a90828e9  1671923  NZ_CP085939.1
3  800de6ec-2570-d9e3-7492-3e8ff3ebce0a  1671923  NZ_CP085939.1
4  922490a6-bc3a-d2ce-e61c-3b4fd3aca102  1671923  NZ_CP085939.1

In [6]:
taxid_counts = df['TaxID'].value_counts()

print(taxid_counts)

TaxID
1384484    1965
394340     1933
862970     1165
1328        911
1671923     415
Name: count, dtype: int64

Correct would be:    
1384484     -  1971     
394340    -  1973   
862970    -  1292     
1671923   -  1218